* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: #fff;
    font-size: 100px;
}

p {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #eff304;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(./images/pic1.jpg);
}

.card2 {
    background-image: url(./images/pic2.jpg);
}

.card3 {
    background-image: url(./images/pic3.jpg);
}

.card4 {
    background-image: url(./images/pic4.jpg);
}

.card5 {
    background-image: url(./images/pic5.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

h5 {
    color: #fff;
    text-shadow: 0 0 5px #999;
}

.card p {
    text-shadow: 0 0 5px #999;
    font-size: 8;
}
